<!DOCTYPE html>
<html>
    <head>
        <style>
        .container {
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;

            text-align: center;
        }

        span {
            margin: 10px 0;
            display: block;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <img style="width: 15%;" src="https://moncashback.s3.sa-east-1.amazonaws.com/logo.png"/>
            <span>Olá, {{name}}.</span>
            <span>Seja bem vindo ao Mon, seu dinheiro de volta!</span>
            <br/>
            <span>Comece a utilizar hoje mesmo nos melhores estabelecimentos da região, com mais segurança e sempre fazendo a economia local girar.</span>
            <span>Você só precisar apresentar o <strong style="color: #36398f;">código MON</strong> na hora de efetuar o pagamento em um dos estabelecimentos cadastrados.</span>
            <br/>
            <strong>Obrigado!</strong>
            <h3>Equipe | <strong>Mon Cashback</strong></h3>
        </div>
    </body>
</html>